{
  email contatodiaskovaltchukadv@gmail.com
}

www.diasekovaltchukadv.com {
  redir https://diasekovaltchukadv.com{uri} permanent
}

diasekovaltchukadv.com {
  encode gzip
  reverse_proxy http://flask:5000
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
  }
}
