<nav class="navbar navbar-expand-lg fixed-top topbar" id="home" aria-label="Navegação principal">
    <div class="container-fluid nav-shell">
        <a class="navbar-brand" href="#home" aria-label="Dias e Kovaltchuk Advogados">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Dias & Kovaltchuk Advogadas Associadas"
                width="580" height="565" decoding="async">
            <span>Dias & Kovaltchuk</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Abrir menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-lg-center">
                <li class="nav-item"><a class="nav-link" href="#about">Escritório</a></li>
                <li class="nav-item"><a class="nav-link" href="#acting">Atuação</a></li>
                <li class="nav-item"><a class="nav-link" href="#team">Advogadas</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contato</a></li>
                <li class="nav-item">
                    <a class="nav-button wa-track" href="https://wa.me/{{ WHATS_LINK_NUMBER }}">
                        <i class="bi bi-whatsapp"></i>
                        Falar com o escritório
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
