* {
    font-family: 'Roboto', Arial;
}

/* Home */

.back {
    background-image: url("../images/justice.png");
    background-size: 100% 500px;
    background-repeat: no-repeat;
    height: 30em;
    margin-bottom: 15px;
}

.divisoria2 {
    background-color: #D2BB65;
    height: 5px;
}

.nav-link {
    text-transform: uppercase;
}

.nav-link:hover {
    color: #A57110;
}

#div3 {
    background-color: #D2BB65;
}

/* About */

#about > div > div > h1 {
    text-align: center;
    text-transform: uppercase;
}

#about-in > div > img {
    height: 20em;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    display: block;
}

#about-in {
    padding: 20px;
    margin: 15px 15px 15px 15px;
    background-color: #ECECEC;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    text-align: justify;
}

#about-in > div > p {
    font-size: 1em;
    padding-top: 5px;
}

.iconsI {
    weight: 50px;
    height: 50px;
    padding: 5px;
}

#firstIcons > p > a {
    text-decoration: none;
}

/* Ãreas */

.areas>[class*='col-']>div>p:nth-child(2) {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 5px;
}

.display-flex>[class*='col-'] {
    flex-grow: 1;
}

.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.bg-light {
    background-color: #ECECEC !important;
}

/* Contato */

.fundo {
    background-color: #D2BB65;
    color: #FFFFFF;
    padding: 15px;
}

.divisoria {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #EEEAD7;
    width: 100%;
    height: 5px;
    display: block;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.send {
    margin-top: 5px;
    width: 100%;
    border: 0;
}

.send,
.send:hover,
.send:active,
.send:focus-visible {
    background-color: #D2BB65 !important;
}

form {
    background-color: #5A5E61;
    padding: 15px;
    border-radius: 5px;
}

.part1 {
    text-align: center;
    font-size: 1.5em;
}

.contact {
    font-weight: bold;
    font-size: 2em;
}

#team>div>div>div>img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    margin-top: 15px;
}

#team>div>div>div>p:nth-child(2) {
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    margin-top: 15px;
}

#team>div>div>div>p:nth-child(3) {
    text-align: center;
    font-weight: 800;
    font-size: 16px;
}

#team>div>div>div>p:nth-child(4) {
    text-align: justify;
}

#contact>div>p>a {
    color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
}

#acting,
#team {
    padding: 15px;
    text-align: justify;
}

#acting>div>div>div>h1,
#team>div>div>div>h1 {
    text-align: center;
    text-transform: uppercase;
}

.areas>[class*='col-']>div {
    padding: 20px;
    margin: 15px 15px 15px 15px;
    background-color: #ECECEC;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    text-align: justify;
}
